@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&family=Oswald:wght@200..700&display=swap');

.w{
    display: block;
    width: 509px;
    height: 474px;
    box-sizing: border-box;
    background-color: black;
    padding: 26px;
    border-radius: 10px;
    text-decoration: none;
}
a{
    text-decoration: none;
    width: 509px;
    height: 40px;
}
#img{
    width: 457px;
    height: 258px;
    border-radius: 10px;
}
.h{
    font-family:'Matemasie',sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: white;  
    padding-bottom: 20px;
}
.s{
    font-size: 20px;
    padding-top: 20px;
}
#d{
    padding-right: 20px;
    color: #9aa1d9;
}
#x{
    padding-right: 20px;
    color: white;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: brown;
}
#y{
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    background-color: #19d195;
    border-radius: 5px;
}